/*==============================
 		Title: Lap of Luxury	
 		Theme URI: https://desbest.com/projects/wordpress-themes
 		Description: A simple theme that isn't minimal. Originally made by Design Disease http://designdisease.com
		Author: Design Disease and desbest
		Author URI: http://desbest.com/
 =============================*/
body {
	font-family        :'Verdana','Arial','Tahoma','Georgia','Lucida','Helvetica', sans-serif;
	font-style         :normal;
	font-variant       :normal;
	text-align         :center;
	border-top         :7px solid #000000;
	background         :url('images/bg.gif') repeat;
}
* {
	list-style-image   :none;
	list-style-position:outside;
	list-style-type    :none;
	margin             :0;
	padding            :0;
	outline-style      :none;
	outline-width      :0;
}
img,fieldset {
	border             :none;
}
ul,ol,li {
	list-style         :none;
}
input, textarea, select {
	font-family        :inherit;
	font-size          :inherit;
	font-weight        :inherit;
	max-width:  100%; /* desbest edit */
}
a {
	text-decoration    :none;
	color:#9a5300;
}
a:visited {
	text-decoration    :none;
}
a:hover {
	text-decoration    :underline;
}
.hide {
     position          : absolute;
     left              : -9999px;
}
/*----------------------- Page Structure ---------------------*/
/*----------------------- Start wrapper ----------------------*/
#wrapper{
	margin:0 auto;
	text-align:left;
	width:909px;
}
/*-----------------------  Start header  ---------------------*/
#header{
	width:909px;
	border-bottom:2px solid #000000;
	overflow:hidden; 
}
.rss{
	padding-left:21px;
	background:url('images/rss.gif') no-repeat left top;
	margin:9px 0 0;
	float:left;
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#cc6600;
}
.rss a{
	color:#cc6600;
}
.search{
	float:right;
	width:337px;
	height:27px;
	background:url('images/search-bg.gif') no-repeat;
	display:block;
	overflow:hidden;
}
.search b{
	float:left;
	font-size:10px;
	color:#fff;
	padding:4px 0 0 16px;
}
.search input{
	width:185px;
	height:18px;
	padding:2px 5px 0;
	background:#000;
	border:1px solid #000;
	float:left;
	margin-left:3px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}
.search .submit{
	width:49px;
	height:11px;
	padding:0;
	border:none;
	background:url('images/search.gif') no-repeat;
	margin:5px 10px 0 12px;
	cursor:pointer;
}
.logo{
	margin:39px 0 0;
	float:left;
	font:bold 40px Arial;
	letter-spacing:-1px;
	width:800px;
	text-transform:uppercase;
	color:#dd9923;
}
.logo:hover { text-decoration:none }
#header ul{
	padding:41px 0 14px;
	float:left;
}
#header ul li{
	float:left;
	padding-right:20px;
}
#header ul li a{
	float:left;
	height:16px;
}

.nav li a { font:bold 20px Arial ; color:#000; letter-spacing:-1px; text-transform:uppercase;  }
.nav li a:hover {text-decoration:none; }
/*-----------------------  Start mainBody  ---------------------*/
#mainBody{
	width:909px;
	overflow:hidden;
	margin-top:30px;
	background:url('images/rightBottom.gif')  no-repeat right bottom;
	padding-bottom:8px;
}
/*-----------------------  Start mainArea  ---------------------*/
.mainArea{
	background:url('images/rightBg.gif') repeat-y right top;
	overflow:hidden;
}
*+ html .mainArea{
	background:url('images/rightSideBg.gif') repeat-y right top;
	overflow:hidden;
}
/*-----------------------  Start main  ---------------------*/
.main{
	width:571px;
	float:left;
}
/*-----------------------  Start contentArea  ---------------------*/
.contentArea{
	margin-bottom:12px;
}
.contentArea h2{
	font:normal 34px Georgia, "Times New Roman", Times, serif;
	color:#000000;
	line-height:36px;
	margin:-5px 0 9px;
	padding-bottom:10px;
	width:539px;
	border-bottom:1px solid #d9d9d9;
}
.contentArea h2 span{
	font-size:11px;
	color:#666666;
	font-weight:normal;
	display:block;
	margin-bottom:-10px;
}
.contentArea h2 a{
	color:#000000;
}
/*-----------------------  Start gallery  ---------------------*/
.gallery,.bigGallery{
	width:536px;
	height:252px;
	margin-bottom:10px;
	border:1px solid #cccccc;
}
.bigGallery{
	height:273px;
}
.gallery * ,.bigGallery *{
    vertical-align: middle;
}
.gallery span ,.bigGallery span{
	display: inline-block;
	height:100%;
}
.contentArea .entry-content{
	color:#333333;
	font-size:13px;
	padding:0 20px 5px 0;
	line-height:17px;
	margin-bottom:10px;
}

.entry-content p {
	margin-bottom:15px;
}
.contentArea .gallery p ,.contentArea .bigGallery p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 536px;
    height: 252px;
	overflow:hidden;
	background:#FFFFFF;
	padding:0;
}
.contentArea .bigGallery p{
	height:273px;
	overflow:hidden;
}

.link{
	font-weight:normal;
	font-size:13px;
}
.link a{
	font-size:13px;
	color:#666666;
	text-decoration:underline;
	font-weight:normal;
}
.link a:hover{
	text-decoration:none;
}
.comment{
	width:533px;
	border:1px solid #d9d9d9;
	border-width:1px 0 1px 0;
	margin:16px 0 0;
	padding-left:5px;
	height:36px;
	line-height:36px;
	display:block;
}
.comment b,.comment a{
	background:url('images/bullet.gif') no-repeat  left top;
	font-weight:bold;
	font-size:13px;
	color:#cc6600;
	padding-left:19px;
}
.comment b{
	color:#666666;
}
.comment b a{
	background:none;
	padding:0;
	margin-right:12px;
}
.bottom{
	margin:46px 0 0px;
}
/*-----------------------  Start side  ---------------------*/
.side{
	width:338px;
	float:right;
}
/*-----------------------  Start rightContent  ---------------------*/
.rightArea{
	background:url('images/rightTop.gif') no-repeat top;
	width:339px;
	padding-top:33px;
}
/*-----------------------  Start rightContent  ---------------------*/
.rightContent{
	width:339px;
	overflow:hidden;
}
.rightContent h3{
	font-size:11px;
	color:#cccccc;
	font-weight:normal;
	padding:0 0 13px 19px;
}
.add{
	width:300px;
	height:250px;
	display:block;
	background:#5e6168;
	margin:0 0 47px 19px;
}
/*-----------------------  Start list  ---------------------*/
.list{
	width:142px;
	float:left;
	margin:0 15px 0 22px;
	min-height:300px;
	height: auto !important;
	height: 300px;
}
.list2{
float:left;
width:142px;
}

.list .widget, .list2 .widget { margin-bottom:10px; }
.list h3, .list2 h3 {
	font:bold 18px Georgia;
	letter-spacing:-1px;
	color:#fff;
	padding:0;
	margin-bottom:5px;
}

.rightContent h2{
	border-bottom:1px solid #003333;
	height:17px;
	margin-right:15px;
	overflow:hidden;
	padding-bottom:7px;
	margin-bottom:3px;
}
.list .rightContent h2{
	margin-right:0;
}
.rightContent ul{
	padding-bottom:25px;
}
.rightContent ul li{
	line-height:24px;
	/*desbest edit*/
}
.rightContent ul li a{
	font-size:12px;
	color:#339999;
	text-decoration:underline;
}
.rightContent ul li a:hover{
	text-decoration:none;
}
/*-----------------------  Start footer  ---------------------*/
#footer{
	width:909px;
	clear:both;
	border-top:1px solid #e1e1e1;
	margin-top:43px;
	padding:18px 0 32px;
	float:left;
}
#footer p{
	font-size:11px;
	color:#999999;
	line-height:15px;
}
#footer p a{
	color:#999999;
	text-decoration:underline;
}
#footer p a:hover{
	text-decoration:none;
}
/*-----------------------  Start sub page  --------------------------*/
/*-----------------------  Start responsesArea  ---------------------*/
.responsesArea{
	float:left;
	margin-top:-2px;
}
.responsesArea h2{
	font:normal 21px Georgia, "Times New Roman", Times, serif;
	color:#000000;
	margin:20px 0 21px;
}
.responsesArea ul li{
	width:500px;
	background:#fff;
	border:7px solid #e9e9e9;
	padding:11px 12px 12px;
	margin-bottom:15px;
}
.responsesArea ul li .photo {
	float:left;
	border:1px solid #101010;
	margin-right:12px;
}
.responsesArea ul li h3{
	float:left;
	font:bold 14px Georgia, "Times New Roman", Times, serif;
}
.responsesArea ul li h3 a{
	font-size:11px;
	font-weight:normal;
	display:block;
	text-decoration:underline;
	color:#cc6600;
}
.responsesArea ul li h3 a:hover{
	text-decoration:none;
}
.responsesArea ul li .comment-content{
	color:#333333;
	font-size:12px;
	clear:both;
	padding:13px 0 5px;
	line-height:16px;
}
/*-----------------------  Start contactArea  ---------------------*/
.contactArea{
	padding:16px 18px 18px 16px;
	border:7px solid #cccccc;
	width:490px;
	clear:both;
	background:#fff;
	overflow:hidden;
}
.contactArea h2{
	font:bold 14px Georgia, "Times New Roman", Times, serif;
	color:#000000;
	padding-bottom:17px;
}
.contactArea p{
	font-size:13px;
	color:#666666;
}
.contactArea input{
	width:255px;
	height:20px;
	font-size:12px;
	margin-right:13px;
	border:1px solid #666666;
	margin-bottom:14px;
	padding:3px 5px 0;
}
.contactArea textarea{
	margin-bottom:11px;
	border:1px solid #666666;
	width:478px;
	height:98px;
	font-size:12px;
	padding:2px 5px 0;
}
.contactArea input:focus,.contactArea textarea:focus{
	background:#f8f7f7;
}
.contactArea .post{
	width:120px;
	height:27px;
	background:url('images/post.gif') no-repeat;
	padding:0;
	margin:0;
	float:right;
	border:none;
	cursor:pointer;
}
.contactArea .post:focus{
	background:url('images/post.gif') no-repeat;
}

/* Begin Images */
p img {
	padding: 0;
	max-width: 100%;
	}

/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
	}

.alignright {
	float: right;
	}

.alignleft {
	float: left;
	}
/* End Images */

.rss { display: none; }

@media screen and (max-width: 800px) {
	#wrapper, #header, #mainBody, #footer, .logo { width: 100%; }
	.main { width: 100%; }
	.side, .rightArea { width: 25%; }
	#mainBody, .rightArea, .mainArea { background-size: 25%; }
	#wrapper { padding: 0px 32px 32px 32px; box-sizing: border-box; }
	#mainBody { padding-bottom: 6px; }
	.side input[type="submit"], .side button { margin-top: 0.85em; }
	.contentArea h2 span { font-size: 14px; }
	#footer, #footer p { color: black; font-size: 0.85em; line-height: 1.35em;}
}

@media screen and (max-width: 700px) {
	#mainBody { padding-bottom: 5px; }
}

@media screen and (max-width: 500px) {
	#mainBody, .rightArea, .mainArea { background-image: none; }
	.side {clear: both; width: 90%; background-color: black;  }
	#wrapper { padding: 0px 8px 8px 8px; }
	.contactArea { max-width: 90%; }
	textarea, input, select { max-width: 85%; }
	.responsesArea ul li { max-width: 100%; width: unset; }
	.responsesArea { width: 100%; }
	.contentArea .entry-content { line-height: 20px; }

}
